* {border: 0px solid rgba(255, 0, 0, 0.199);}

:root {
  --primary-color: rgb(63, 97, 45);         
  --main-txt: rgb(228, 228, 228);  
  --neautral-txt: rgb(53, 53, 53);        
  --border-color: rgb(202, 202, 202);       
  --complementary-color: rgb(205, 80, 75); 
  --analogous-color-1: rgba(0, 0, 0, 0.185);    
  --analogous-color-2: rgb(213, 245, 253);   
  --neutral-color-1: rgb(240, 240, 230);   
  --neutral-color-2: rgb(220, 220, 220);    
  --accent-color-1: rgb(200, 160, 70);     
  --accent-color-2: rgb(250, 245, 225);     
}

body {
  height: 120vh;
  margin: 0%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(20, 5%);
  font-family: "Nunito Sans", sans-serif;
}

#headercontainer {
  grid-row: 1/3;
  grid-column: span 4;
  background-color: var(--primary-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 32px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:space-around;
}

#logoContainer {
  display: flex;
  margin-top: 0.5%;
}


#iconLogo {
  height: 45px;
  width: 45px;
  border-radius: 10%;
}

#logotxt {
  display: flex;
  align-items: flex-end;
  color: var(--accent-color-2);
}

#celFar {
  display: flex;
  align-items: center;
}

#currentWeatherDiv {
  grid-row: 3/10;
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  background-color: var(--neutral-color-1);
}

#dayOfContainer {
  grid-column: 1/4;
  grid-row: span 10;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
}

#gifDiv {
  position: relative;
  grid-column: 4/11;
  grid-row: span 10;
}

@media (max-width:1300px) {
  
  #dayOfContainer {
    grid-column: span 10;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
  }
  #dayDescription {
    grid-row: 9/11;
    grid-column: span 10;
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  #gifDiv {
    position: relative;
    grid-column: span 10;
    grid-row: 6/11;
    margin-top: 2%;
  }
}

#conditionAndLocation {
  grid-row: 1/3;
  grid-column: span 10;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-wrap:wrap;
  border-bottom: 1px var(--border-color) solid;
  font-weight: 600;
}

#tempContainer {
  grid-row: 3/9;
  grid-column:span 10;
  display: flex;
  border-bottom: 1px var(--border-color) solid;
  color: var(--neautral-txt);
}

#tempLow, #tempHigh {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}

#tempLow {
  border-right: 1px var(--border-color) solid;  
}

#tempHigh {
  border-left: 1px var(--border-color) solid;  
}

#tempMiddleSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
}


#dayDescription {
  grid-row: 9/11;
  grid-column: span 10;
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

#dayDescriptionTxt {
  font-weight: 500;
  font-size: small;
}

#dayOfDetailsContainer {
  grid-column: span 4;
  grid-row: 10/11;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px; 
  font-style: italic;
  background-color: var(--accent-color-1);
}

#dayOfForecastContainer {
  grid-row: 11/15;
  grid-column: span 4;
  display:flex;
  background:var(--primary-color);
  overflow-y:hidden;
  overflow-x:auto;
  gap: 3%;                         
  padding: 10px;                   
  white-space: nowrap;  
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  background-color: var(--primary-color);
}

.measurementContainerHour {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  border-left: 1px var(--analogous-color-1) solid;
  border-right: 1px var(--analogous-color-1) solid;

}

#hourContainer, #precipContainer, #iconContainer, #currentTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#precipContainer {
  height: 5%;
  font-size: small;
  color: rgb(1, 42, 156);
  font-weight: 600;
}

#weekForecastContainer {
  margin: 10%;
  margin-top: 2%;
  grid-column: span 4;
  grid-row: span 6;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.measurementContainerWeekDay {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  align-items: center;
}

#measurementWeekHeader {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  border-bottom: 1px var(--border-color) solid;
}

.dayStatHeader {
  width: fit-content;
  grid-column: span 2;
  right: 2%;
}

.dayStat {
  width: fit-content;
  grid-column: span 2;
}


#recordDiv {
  position: absolute;
  display: flex;
  align-items: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  height: 10%;
}

#recordGif {
  height: 24px;
}

#bgGif {
  width: 100%;
  height: 100%;
}

#bgGifDiv {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

#forumcontainer {
  grid-row: 18;
  width: 30%;
  height: 45%;
  display: flex;
}

#weatherForum {
  grid-row: 8/9;
  display: flex;
  flex: 1;
}

#input, #submitbtn {
  padding: 10px;
}

#inputContainer {
  display: flex;
  flex: 1;
}

#locationInput {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex: 1;
  background-color: var(--neutral-color-1);
  
}

input[type="text"] {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
}

input:focus {
  outline: none; 
}

#submitbtn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-1);
  height: 100%;
  color: var(--accent-color-2);
  font-size: 14px;
  font-weight: 500;
}

#submitbtn:hover {
  cursor: pointer;
}

#logoContainer:hover, #currentWeatherDiv:hover, #dayOfForecastContainer:hover, #weekForecastContainer:hover, #dayOfDetailsContainer:hover {
  cursor: default;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-color-2);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--analogous-color-1);
  -webkit-transition: .4s;
  transition: .4s;
}



input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
  right: 60%;
}

.off {
  left: 75%;
}

.on, .off
{
  color: var(--neautral-txt);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 28px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

