* {border: 1px solid red;}

:root {
  --primary-color: rgb(63, 97, 45);
  --main-txt: rgb(228, 228, 228);

}

body {
  height: 120vh;
  margin: 0%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(20, 5%);
}

#headercontainer {
  grid-row: 1/3;
  grid-column: span 4;
  background-color: var(--primary-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:center;
  color: var(--main-txt);
}

#logoContainer {
  display: flex;
  margin-right: 30%;
}

#iconLogo {
  height: 45px;
  width: 45px;
  border-radius: 10%;
}

#logotxt {
  display: flex;
  align-items: flex-end;
}

#currentWeatherDiv {
  grid-row: 3/10;
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(1, 100%);
}

#dayOfContainer {
  grid-column: 1/4;
  grid-row: span 1;
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: repeat(10,10%);
}

#conditionAndLocation {
  grid-row: 1/3;
  grid-column: span 10;
  display: flex;
  flex: 1;
  align-items: center;
}

#tempContainer {
  grid-row: 3/9;
  grid-column:span 10;
  display: flex;
}

#tempLow {
  flex: 1;
}

#tempMiddleSection {
  flex: 2;
}

#tempHigh {
  flex: 1;
}


#dayDescription {
  grid-row: 9/11;
  grid-column: span 10;
}

#dayOfDetailsContainer {
  grid-column: span 4;
  grid-row: 10/11;
  display: flex;
  flex: 1;
}

#dayOfForecastContainer {
  grid-row: 11/15;
  grid-column: span 4;
  display:flex;
  background:var(--primary-color);
  overflow-y:hidden;
  overflow-x:auto;
  gap: 3%;                         
  padding: 10px;                   
  white-space: nowrap;  
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  background-color: var(--primary-color);
}

.measurementContainerHour {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

#hourContainer, #precipContainer, #iconContainer, #currentTempContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#precipContainer {
  height: 5%;
}

#weekForecastContainer {
  grid-column: span 4;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.measurementContainerWeekDay {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.dayContainer {
  width: 10%;
}

#rainContainer {
  width: 10%;
}

#gifDiv {
  position: relative;
  grid-column: 4/11;
  grid-row: span 1;
}

#recordDiv {
  position: absolute;
  display: flex;
  align-items: center;
  color: rgba(245, 245, 245, 0.904);
  background-color: rgba(0, 0, 0, 0.541);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 5%;
}

#recordGif {
  height: 24px;
}

#bgGif {
  width: 100%;
  height: 100%;
}

#bgGifDiv {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

#forumcontainer {
  grid-row: 18;
  width: 30%;
  display: flex;
}

#weatherForum {
  grid-row: 8/9;
  display: flex;
  flex: 1;
}

#input, #submitbtn {
  padding: 10px;
}

#inputContainer {
  display: flex;
  flex: 1;

}

#locationInput {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex: 1;
}


#submitbtn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
}
